.example-radio-group {
    // flex-direction: column;
    margin: 20px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  input {
    text-align: left !important;
}




.estado{
    background: #e15f41;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: inline;
}