<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">


        <!-- HEADER -->
        <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <div fxLayout="column" fxLayoutAlign="center start">
        <div fxLayout="row" fxLayoutAlign="start center">
            <span class="secondary-text"><h1>Camarero</h1></span>
          
          </div>
        <div class=" h3 mt-16">
          <div class="search-wrapper mx-32 mx-md-0">
            <div fxFlex fxLayout="row">
              <mat-icon>search</mat-icon>
              <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Ingrese valor a buscar" #input>
            </div>
          </div>
        </div>

        
      </div>
    
      <!-- / SEARCH -->

      <!-- ADD BUTTON -->
      <button mat-raised-button [routerLink]="'/camarero'"
        class="add-product-button fuse-white mt-24 mt-md-0">
        <mat-icon>add</mat-icon>
      </button>
      <!-- / ADD BUTTON -->

    </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" fusePerfectScrollbar>
            <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let camarero"> {{camarero.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="apellido1">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Primer Apellido </mat-header-cell>
                    <mat-cell *matCellDef="let camarero"> {{camarero.apellido1}} </mat-cell>
                </ng-container>
               
                <ng-container matColumnDef="apellido2">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Segundo Apellido </mat-header-cell>
                    <mat-cell *matCellDef="let camarero"> {{camarero.apellido2}} </mat-cell>
                </ng-container>
           
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <mat-row *matRowDef="let camarero; columns: displayedColumns;" class="camarero"   [routerLink]="'/camarero/'+camarero.idcamarero ">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>