<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs style="text-align: center;">
        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bienvenido a LA MEJOR COCINA
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">Inicio de Sesión</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">usuario</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Usuario es requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">contrasena</mat-icon>
                    <mat-error>
                        Contraseña es requerida
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    
                    <a class="forgot-password" [routerLink]="'/'">
                        Olvidó su contraseña?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                        [disabled]="loginForm.invalid" [routerLink]="'/dashboard'">
                    Ingresar
                </button>

            </form>

            <div class="separator">
                <span class="text">o</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start center">

                <button mat-raised-button class="google">
                    Log in with Google
                </button>

            </div>
        </div>
    </div>
</div>
